@media (max-width: 1440px){}
@media (max-width: 1320px){}
@media (max-width: 1290px){}
@media (max-width: 1170px){}
@media (max-width: 1140px){}
@media (max-width: 1024px){
    .films__cards{
        row-gap: 40px;
        flex-wrap: wrap;
    }
    .films__card{
        max-width: unset;
        width: 48%;
    }
    .collections__cards{
        overflow-y: auto;
        padding-bottom: 15px;
        scroll-snap-type: x mandatory;
    }
    .collections__card{
        scroll-snap-align: center;
        flex-shrink: 0;
    }
}
@media (max-width: 992px){
}
@media (max-width: 850px){}
@media (max-width: 768px){
    .nav__menu{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav__menu-line{
        width: 100%;
        height: 2px;
        background: var(--primary-color);
        position: relative;
        transition: .4s ;
    }
    .nav__menu:hover .nav__menu-line{
        background: transparent;
    }
    .nav__menu:hover .nav__menu-line:before{
        transform: rotate(45deg);
        top: 0;
        transition: .4s;
    }
    .nav__menu:hover .nav__menu-line:after{
        transform: rotate(-45deg);
        top: 0;
        transition: .4s;
    }
    .nav__menu:hover ~ .nav__list{
        transform: scale(1);
    }
    .nav__menu-line::before{
        content: '';
        position: absolute;
        top: -10px;
        width: 100%;
        height: 100%;
        background: var(--primary-color);
    }
    .nav__menu-line::after{
        content: '';
        position: absolute;
        top: 10px;
        width: 100%;
        height: 100%;
        background: var(--primary-color);
    }
    .nav__list{
        position: fixed;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background: var(--ternary-color);
        top: 0;
        left: 0;
        transform: scale(0);
        transition: .4s;
        z-index: -1;
        
    }
    .nav{
        padding: 15px;
    }
    .series__card_md{
        grid-column: 4 span;
        grid-row: 1 span;
   
    }
    .series__card_md .series__card-image{
        object-position: 0 -120px;
    }
    .series__card_sm{
        grid-column: 2 span;
    }
    .header__title{
        font-size: calc( 28 + (36px + 36px * 0.7) *((100vw - 320) / 1920));   
    }
}
@media (max-width: 736px){}
@media (max-width: 734px){}
@media (max-width: 684px){}
@media (max-width: 667px){
    .premier__content{
        background: linear-gradient rgba(255, 255, 255, 0.6);
    }
    .footer__container{
        flex-direction: column;
        row-gap: 15px;
    }
}
@media (max-width: 576px){}
@media (max-width: 480px){
    .films__card{
        width: 100%;
    }
    .films__card:nth-of-type(1).films__card-image{
        object-position: top;
    }
    .series__card_sm{
        grid-column: 4 span;
    }
    .premier__content-image{
        width: 100%;
    }
    .series__card_md .series__card-image{
        object-position: unset;
    }
    .footer-txt{
        font-size: 14px;
    }
}
@media (max-width: 414px){}
@media (max-width: 412px){}
@media (max-width: 375px){
    .header__btns{
        flex-wrap: wrap;
        row-gap: 15px;
    }
    .premier__content-txt{
        -webkit-line-clamp: 5;
    }
}
@media (max-width: 360px){}
@media (max-width: 320px){}